extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Trang giỏ hàng
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#') Giỏ hàng
  // End Banner Area
  // Start Cart Area
  section.cart_area
    .container
      .cart_inner
        .table-responsive
          table.table
            thead
              tr
                th(scope='col') Sản phẩm
                th(scope='col') Giá
                th(scope='col') Số lượng
                th(scope='col') Tổng tiền
            tbody
              tr
                td
                  .media
                    .d-flex
                      img(src='img/cart.jpg', alt='')
                    .media-body
                      p Sản phẩm 1
                td
                  h5 $360.00
                td
                  .product_count
                    input#sst1.input-text.qty(type='text', name='qty', maxlength='12', value='1', title='Quantity:')
                    button.increase.items-count(onclick="var result = document.getElementById('sst1'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;", type='button')
                      i.lnr.lnr-chevron-up
                    button.reduced.items-count(onclick="var result = document.getElementById('sst1'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;", type='button')
                      i.lnr.lnr-chevron-down
                td
                  h5 $360.00
              tr
                td
                  .media
                    .d-flex
                      img(src='img/cart.jpg', alt='')
                    .media-body
                      p Sản phẩm 2
                td
                  h5 $360.00
                td
                  .product_count
                    input#sst2.input-text.qty(type='text', name='qty', maxlength='12', value='1', title='Quantity:')
                    button.increase.items-count(onclick="var result = document.getElementById('sst2'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;", type='button')
                      i.lnr.lnr-chevron-up
                    button.reduced.items-count(onclick="var result = document.getElementById('sst2'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;", type='button')
                      i.lnr.lnr-chevron-down
                td
                  h5 $360.00
              tr
                td
                  .media
                    .d-flex
                      img(src='img/cart.jpg', alt='')
                    .media-body
                      p Sản phẩm 3
                td
                  h5 $360.00
                td
                  .product_count
                    input#sst3.input-text.qty(type='text', name='qty', maxlength='12', value='1', title='Quantity:')
                    button.increase.items-count(onclick="var result = document.getElementById('sst3'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;", type='button')
                      i.lnr.lnr-chevron-up
                    button.reduced.items-count(onclick="var result = document.getElementById('sst3'); var sst = result.value; if( !isNaN( sst ) && sst > 0 ) result.value--;return false;", type='button')
                      i.lnr.lnr-chevron-down
                td
                  h5 $360.00
              tr.bottom_button
                td
                  a.gray_btn(href='#') Cập nhật giỏ hàng
                td
                td
                td
                  .cupon_text.d-flex.align-items-center
                    input(type='text', placeholder='Mã giảm giá')
                    a.primary-btn(href='#') Áp dụng
                    a.gray_btn(href='#') Đóng
              tr
                td
                td
                td
                  h5 Tổng phụ
                td
                  h5 $2160.00
              tr.shipping_area
                td
                td
                td
                  h5 Vận chuyển
                td
                  .shipping_box
                    ul.list
                      li
                        a(href='#') Flat Rate: $5.00
                      li
                        a(href='#') Free Shipping
                      li
                        a(href='#') Flat Rate: $10.00
                      li.active
                        a(href='#') Local Delivery: $2.00
                    h6
                      | Tính toán 
                      i.fa.fa-caret-down(aria-hidden='true')
                    select.shipping_select
                      option(value='1') Bangladesh
                      option(value='2') India
                      option(value='4') Pakistan
                    select.shipping_select
                      option(value='1') Select a State
                      option(value='2') Select a State
                      option(value='4') Select a State
                    input(type='text', placeholder='Postcode/Zipcode')
                    a.gray_btn(href='#') Cập nhật chi tiết
              tr.out_button_area
                td
                td
                td
                td
                  .checkout_btn_inner.d-flex.align-items-center
                    a.gray_btn(href='category.html') Tiếp tục mua sắm
                    a.primary-btn(href='checkout.html') Thanh toán
  // End Cart Area