extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Trang cửa hàng
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#')
              | Cửa hàng
  // End Banner Area
  .container
    .row
      .col-xl-3.col-lg-4.col-md-5
        .sidebar-filter.mt-50
          .top-filter-head Bộ lọc sản phẩm
          .common-filter
            .head Nhãn hiệu
            form(action='#')
              ul
                li.filter-list
                  a(href='category.html?stall=Converse&gte=null&lte=null')
                    label(for='apple')
                      | Converse
                li.filter-list
                  a(href='category.html?stall=Nike&gte=null&lte=null')
                    label(for='micromax')
                      | Nike
                li.filter-list
                  a(href='category.html?stall=Adidas&gte=null&lte=null')
                    label(for='asus')
                      | Adidas
                li.filter-list
                  a(href='category.html?stall=New+Balance&gte=null&lte=null')
                    label(for='gionee')
                      | New Balance
                li.filter-list
                  a(href='category.html?stall=ASICS&gte=null&lte=null')
                    label(for='samsung')
                      | ASICS
          .common-filter
            .head Giá
            form(action='#')
              ul
                li.filter-list
                  a(href='category.html?stall=null&gte=0&lte=50')
                    label(for='apple')
                      | $50 trở xuống
                li.filter-list
                  a(href='category.html?stall=null&gte=50&lte=100')
                    label(for='asus')
                      | $50 - $100
                li.filter-list
                  a(href='category.html?stall=null&gte=100&lte=200')
                    label(for='gionee')
                      | $100 - $200
                li.filter-list
                  a(href='category.html?stall=null&gte=200&lte=500')
                    label(for='micromax')
                      | $200 - $500
                li.filter-list
                  a(href='category.html?stall=null&gte=500&lte=1000000')
                    label(for='samsung')
                      | $500 trở lên
      .col-xl-9.col-lg-8.col-md-7
        // Start Filter Bar
        .filter-bar.d-flex.flex-wrap.align-items-center
          .sorting
            select
              option(value='1') Giá tăng dần
              option(value='2') Giá giảm dần
              option(value='3') Phổ biến
          .sorting.mr-auto
          .pagination
            a.prev-arrow(href='#')
              i.fa.fa-long-arrow-left(aria-hidden='true')
            a.active(href='#') 1
            a(href='#') 2
            a(href='#') 3
            a.dot-dot(href='#')
              i.fa.fa-ellipsis-h(aria-hidden='true')
            a(href='#') 6
            a.next-arrow(href='#')
              i.fa.fa-long-arrow-right(aria-hidden='true')
        // End Filter Bar
        // Start Best Seller
        section.lattest-product-area.pb-40.category-list
          .row
            each product in products
              // single product
              .col-lg-3.col-md-6
                .single-product
                  img.img-fluid(src=product.image, alt='')
                  .product-details
                    h6
                      | #{product.name}
                    .price
                      h6 $#{product.price}
                      h6.l-through $#{product.oldPrice}
                    .prd-bottom
                      a.social-info(href='cart.html')
                        span.ti-bag
                        p.hover-text Thêm giỏ
                      a.social-info(href='single-product.html?_id='+product._id)
                        span.lnr.lnr-move
                        p.hover-text Xem thêm
        // End Best Seller
        // Start Filter Bar
        .filter-bar.d-flex.flex-wrap.align-items-center
          .sorting.mr-auto
            select
              option(value='1') Hiển thị 24
              option(value='2') Hiển thị 33
              option(value='3') Hiển thị 11
        // End Filter Bar
  // Start related-product Area
  section.related-product-area.section_gap_bottom
    .container
      .row.justify-content-center
        .col-lg-6.text-center
          .section-title
            h1 Ưu đãi trong tuần
            p
              | Tuần mua sắm
      .row
        .col-lg-9
          .row
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r1.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót
                  .price
                    h6 $189.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r2.jpg', alt='')
                .desc
                  a.title(href='#') Áo thun nam
                  .price
                    h6 $100.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r3.jpg', alt='')
                .desc
                  a.title(href='#') Đầm đen
                  .price
                    h6 $120.00
                    h6.l-through $150.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r5.jpg', alt='')
                .desc
                  a.title(href='#') Đầm xanh
                  .price
                    h6 $150.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r6.jpg', alt='')
                .desc
                  a.title(href='#') Giày sandas
                  .price
                    h6 $199.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r7.jpg', alt='')
                .desc
                  a.title(href='#') Áo sọc
                  .price
                    h6 $179.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r9.jpg', alt='')
                .desc
                  a.title(href='#') Áo tay dài
                  .price
                    h6 $300.00
                    h6.l-through $410.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r10.jpg', alt='')
                .desc
                  a.title(href='#') Áo bó đen
                  .price
                    h6 $90.00
                    h6.l-through $100.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r11.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót vàng
                  .price
                    h6 $122.00
                    h6.l-through $200.00
        .col-lg-3
          .ctg-right
            a(href='#', target='_blank')
              img.img-fluid.d-block.mx-auto(src='img/category/c5.jpg', alt='')
  // End related-product Area
  // Modal Quick Product View
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog(role='document')
      .container.relative
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        .product-quick-view
          .row.align-items-center
            .col-lg-6
              .quick-view-carousel
                .item(style='background: url(img/organic-food/q1.jpg);')
                .item(style='background: url(img/organic-food/q1.jpg);')
                .item(style='background: url(img/organic-food/q1.jpg);')
            .col-lg-6
              .quick-view-content
                .top
                  h3.head Mill Oil 1000W Heater, White
                  .price.d-flex.align-items-center
                    span.lnr.lnr-tag
                    span.ml-10 $149.99
                  .category
                    | Category: 
                    span Household
                  .available
                    | Availibility: 
                    span In Stock
                .middle
                  p.content
                    | Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
                    | looking for something that can make your interior look awesome, and at the same time give you the pleasant
                    | warm feeling during the winter.
                  a.view-full(href='#')
                    | View full Details 
                    span.lnr.lnr-arrow-right
                .bottom
                  .color-picker.d-flex.align-items-center
                    | Color:
                    span.single-pick
                    span.single-pick
                    span.single-pick
                    span.single-pick
                    span.single-pick
                  .quantity-container.d-flex.align-items-center.mt-15
                    | Quantity:
                    input.quantity-amount.ml-15(type='text', value='1')
                    .arrow-btn.d-inline-flex.flex-column
                      button.increase.arrow(type='button', title='Increase Quantity')
                        span.lnr.lnr-chevron-up
                      button.decrease.arrow(type='button', title='Decrease Quantity')
                        span.lnr.lnr-chevron-down
                  .d-flex.mt-20
                    a.view-btn.color-2(href='#')
                      span Add to Cart
                    a.like-btn(href='#')
                      span.lnr.lnr-layers
                    a.like-btn(href='#')
                      span.lnr.lnr-heart