extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Thanh toán
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#') Thanh toán
  // End Banner Area
  // Start Checkout Area
  section.checkout_area.section_gap
    .container
      .returning_customer
        .check_title
          h2
            | Đăng nhập? 
            a(href='#') Đăng nhập tại đây
        p
          | Nếu bạn đã mua sắm với chúng tôi trước đây, vui lòng nhập thông tin của bạn vào các ô bên dưới. 
          | Nếu bạn là khách hàng mới, vui lòng tiếp tục với phần Thanh toán &amp; Giao hàng.
        form.row.contact_form(action='#', method='post', novalidate='novalidate')
          .col-md-6.form-group.p_star
            input#name.form-control(type='text', name='name')
            span.placeholder(data-placeholder='Tên tài khoản hoặc Email')
          .col-md-6.form-group.p_star
            input#password.form-control(type='password', name='password')
            span.placeholder(data-placeholder='Mật khẩu')
          .col-md-12.form-group
            button.primary-btn(type='submit', value='submit') Đăng nhập
            .creat_account
              input#f-option(type='checkbox', name='selector')
              label(for='f-option') Lưu mật khẩu
            a.lost_pass(href='#') Quên mật khẩu?
      .cupon_area
        .check_title
          h2
            | Có phiếu giảm giá? 
            a(href='#') Nhập mã giảm giá tại đây
        input(type='text', placeholder='Nhập mã giảm giá')
        a.tp_btn(href='#') Áp dụng giảm giá
      .billing_details
        .row
          .col-lg-8
            h3 Chi tiết thanh toán
            form.row.contact_form(action='#', method='post', novalidate='novalidate')
              .col-md-6.form-group.p_star
                input#first.form-control(type='text', name='name')
                span.placeholder(data-placeholder='Tên và Chữ lót')
              .col-md-6.form-group.p_star
                input#last.form-control(type='text', name='name')
                span.placeholder(data-placeholder='Họ')
              .col-md-12.form-group
                input#company.form-control(type='text', name='company', placeholder='Tên công ty')
              .col-md-6.form-group.p_star
                input#number.form-control(type='text', name='number')
                span.placeholder(data-placeholder='Số điện thoại')
              .col-md-6.form-group.p_star
                input#email.form-control(type='text', name='compemailany')
                span.placeholder(data-placeholder='Địa chỉ email')
              .col-md-12.form-group.p_star
                select.country_select
                  option(value='1') Việt Nam
                  option(value='2') Mỹ
                  option(value='3') Nga
              .col-md-12.form-group.p_star
                input#add1.form-control(type='text', name='add1')
                span.placeholder(data-placeholder='Địa chỉ tạm trú')
              .col-md-12.form-group.p_star
                input#add2.form-control(type='text', name='add2')
                span.placeholder(data-placeholder='Địa chỉ thường trú')
              .col-md-12.form-group.p_star
                input#city.form-control(type='text', name='city')
                span.placeholder(data-placeholder='Tỉnh/Thành Phố')
              .col-md-12.form-group.p_star
                select.country_select
                  option(value='1') Đường 1
                  option(value='2') Đường 2
                  option(value='3') Đường 3
              .col-md-12.form-group
                input#zip.form-control(type='text', name='zip', placeholder='Mã bưu điện/ZIP')
              .col-md-12.form-group
                .creat_account
                  input#f-option2(type='checkbox', name='selector')
                  label(for='f-option2') Tạo tài khoản?
              .col-md-12.form-group
                .creat_account
                  h3 Chi tiết vận chuyển
                  input#f-option3(type='checkbox', name='selector')
                  label(for='f-option3') Giao hàng đến một địa chỉ khác?
                textarea#message.form-control(name='message', rows='1', placeholder='Ghi chú đặt hàng')
          .col-lg-4
            .order_box
              h2 Đơn hàng của bạn
              ul.list
                li
                  a(href='#')
                    | Sản phẩm 
                    span Tổng
                li
                  a(href='#')
                    | Nike
                    span.middle x 02
                    span.last $720.00
                li
                  a(href='#')
                    | Converse
                    span.middle x 01
                    span.last $1000.00
              ul.list.list_2
                li
                  a(href='#')
                    | Tổng phụ 
                    span $1720.00
                li
                  a(href='#')
                    | Phí vận chuyển 
                    span Flat rate: $50.00
                li
                  a(href='#')
                    | Tổng 
                    span $1770.00
              .payment_item
                .radion_btn
                  input#f-option5(type='radio', name='selector')
                  label(for='f-option5') Kiểm tra thanh toán
                  .check
                p
                  | Vui lòng gửi séc đến Tên Cửa hàng, Phố Cửa hàng, Cửa hàng Thị trấn, Cửa hàng Bang / Quận, Mã bưu điện.
              .payment_item.active
                .radion_btn
                  input#f-option6(type='radio', name='selector')
                  label(for='f-option6') Paypal 
                  img(src='img/product/card.jpg', alt='')
                  .check
                p
                  | Thanh toán qua PayPal; bạn có thể thanh toán bằng thẻ tín dụng nếu bạn không có tài khoản PayPal.
              .creat_account
                input#f-option4(type='checkbox', name='selector')
                label(for='f-option4') Tôi đã đọc và chấp nhận
                a(href='#') &nbsp; các điểu khoản trên*
              a.primary-btn(href='confirmation.html') Thanh toán
  // End Checkout Area