extends layout

block content
  // Start Banner Area
  section.banner-area
    .container
      .row.fullscreen.align-items-center.justify-content-start
        .col-lg-12
          .active-banner-slider.owl-carousel
            // single-slide
            .row.single-slide.align-items-center.d-flex
              .col-lg-5.col-md-6
                .banner-content
                  h1
                    | GIÀY NIKE MỚI
                  p
                    | Phong cách mạnh mẽ, cá tính
                  .add-bag.d-flex.align-items-center
                    a.add-btn(href='#') 
                      span.lnr.lnr-cross
                    span.add-text.text-uppercase Thêm vào giỏ hàng
              .col-lg-7
                .banner-img
                  img.img-fluid(src='img/banner/banner-img.png', alt='')
            // single-slide
            .row.single-slide
              .col-lg-5
                .banner-content
                  h1
                    | GIÀY GUCCI MỚI
                  p
                    | Sang trọng
                  .add-bag.d-flex.align-items-center
                    a.add-btn(href='#')
                      span.lnr.lnr-cross
                    span.add-text.text-uppercase Thêm vào giỏ hàng
              .col-lg-7
                .banner-img
                  img.img-fluid(src='img/banner/banner-img.png', alt='')
  // End Banner Area
  // Start Features Area
  section.features-area.section_gap
    .container
      .row.features-inner
        // single features
        .col-lg-3.col-md-6.col-sm-6
          .single-features
            .f-icon
              img(src='img/features/f-icon1.png', alt='')
            h6 Giao hàng miễn phí
            p Giao hàng miễn phí trên mọi đơn hàng
        // single features
        .col-lg-3.col-md-6.col-sm-6
          .single-features
            .f-icon
              img(src='img/features/f-icon2.png', alt='')
            h6 Chính sách hoàn trả
            p Trả hàng khi sản phẩm có vấn đề
        // single features
        .col-lg-3.col-md-6.col-sm-6
          .single-features
            .f-icon
              img(src='img/features/f-icon3.png', alt='')
            h6 24/7 Hỗ trợ
            p Luôn sẵn sàng giải đáp thắc mắc của khách hàng
        // single features
        .col-lg-3.col-md-6.col-sm-6
          .single-features
            .f-icon
              img(src='img/features/f-icon4.png', alt='')
            h6 Thanh toán an toàn
            p Đảm bảo thanh toán được an toàn
  // End Features Area
  // Start Category Area
  section.category-area
    .container
      .row.justify-content-center
        .col-lg-8.col-md-12
          .row
            .col-lg-8.col-md-8
              .single-deal
                .overlay
                img.img-fluid.w-100(src='img/category/c1.jpg', alt='')
                a.img-pop-up(href='img/category/c1.jpg', target='_blank')
                  .deal-details
                    h6.deal-title Giày mùa thu
            .col-lg-4.col-md-4
              .single-deal
                .overlay
                img.img-fluid.w-100(src='img/category/c2.jpg', alt='')
                a.img-pop-up(href='img/category/c2.jpg', target='_blank')
                  .deal-details
                    h6.deal-title Giày mùa mưa
            .col-lg-4.col-md-4
              .single-deal
                .overlay
                img.img-fluid.w-100(src='img/category/c3.jpg', alt='')
                a.img-pop-up(href='img/category/c3.jpg', target='_blank')
                  .deal-details
                    h6.deal-title Giày hip hop
            .col-lg-8.col-md-8
              .single-deal
                .overlay
                img.img-fluid.w-100(src='img/category/c4.jpg', alt='')
                a.img-pop-up(href='img/category/c4.jpg', target='_blank')
                  .deal-details
                    h6.deal-title Giày đi phượt
        .col-lg-4.col-md-6
          .single-deal
            .overlay
            img.img-fluid.w-100(src='img/category/c5.jpg', alt='')
            a.img-pop-up(href='img/category/c5.jpg', target='_blank')
              .deal-details
                h6.deal-title Khuyến mãi cực sốc
  // End Category Area
  // Start Product Area
  section.owl-carousel.active-product-area.section_gap
    // single product slide
    .single-product-slider
      .container
        .row.justify-content-center
          .col-lg-6.text-center
            .section-title
              h1 Sản phẩm mới nhất
              p
                | Săn ngay!
        .row
          each product in products
            // single product
            .col-lg-3.col-md-6
              .single-product
                img.img-fluid(src=product.image, alt='')
                .product-details
                  h6
                    | #{product.name}
                  .price
                    h6 $#{product.price}
                    h6.l-through $#{product.oldPrice}
                  .prd-bottom
                    a.social-info(href='#')
                      span.ti-bag
                      p.hover-text Thêm giỏ
                    a.social-info(href='#')
                      span.lnr.lnr-heart
                      p.hover-text Yêu thích
                    a.social-info(href='#')
                      span.lnr.lnr-sync
                      p.hover-text So sánh
                    a.social-info(href='single-product.html?_id='+product._id)
                      span.lnr.lnr-move
                      p.hover-text Xem thêm
    // single product slide
    .single-product-slider
      .container
        .row.justify-content-center
          .col-lg-6.text-center
            .section-title
              h1 Sản phẩm sắp ra mắt
              p
                | Hãy đón chờ!
        .row
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p1.jpg', alt='')
              .product-details
                h6
                  | Addidas
                .price
                  h6 $150.00
                  h6.l-through $210.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p2.jpg', alt='')
              .product-details
                h6
                  | Nike
                .price
                  h6 $300.00
                  h6.l-through $400.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p3.jpg', alt='')
              .product-details
                h6
                  | Giày lười
                .price
                  h6 $190.00
                  h6.l-through $200.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p4.jpg', alt='')
              .product-details
                h6
                  | New Balance
                .price
                  h6 $190.00
                  h6.l-through $200.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p5.jpg', alt='')
              .product-details
                h6
                  | Converse
                .price
                  h6 $300.00
                  h6.l-through $450.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p6.jpg', alt='')
              .product-details
                h6
                  | Jordan
                .price
                  h6 $700.00
                  h6.l-through $800.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p7.jpg', alt='')
              .product-details
                h6
                  | Converse SSA5
                .price
                  h6 $360.00
                  h6.l-through $380.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
          // single product
          .col-lg-3.col-md-6
            .single-product
              img.img-fluid(src='img/product/p8.jpg', alt='')
              .product-details
                h6
                  | Puma
                .price
                  h6 $1000.00
                  h6.l-through $1200.00
                .prd-bottom
                  a.social-info(href='')
                    span.ti-bag
                    p.hover-text Thêm giỏ
                  a.social-info(href='')
                    span.lnr.lnr-heart
                    p.hover-text Yêu thích
                  a.social-info(href='')
                    span.lnr.lnr-sync
                    p.hover-text So sánh
                  a.social-info(href='single-product.html')
                    span.lnr.lnr-move
                    p.hover-text Xem thêm
  // End Product Area
  // Start Exclusive Deal Area
  section.exclusive-deal-area
    .container-fluid
      .row.justify-content-center.align-items-center
        .col-lg-6.no-padding.exclusive-left
          #clockdiv.row.clock_sec.clockdiv
            .col-lg-12
              h1 Ưu đãi hấp dẫn độc quyền sẽ sớm kết thúc!
              p Mau mau rinh giày ngay về nhà kẻo hết
            .col-lg-12
              .row.clock-wrap
                .col.clockinner1.clockinner
                  h1.days 150
                  span.smalltext Ngày
                .col.clockinner.clockinner1
                  h1.hours 23
                  span.smalltext Giờ
                .col.clockinner.clockinner1
                  h1.minutes 47
                  span.smalltext Phút
                .col.clockinner.clockinner1
                  h1.seconds 59
                  span.smalltext Giây
          a.primary-btn(href='') Đến của hàng ngay
        .col-lg-6.no-padding.exclusive-right
          .active-exclusive-product-slider
            // single exclusive carousel
            .single-exclusive-slider
              img.img-fluid(src='img/product/e-p1.png', alt='')
              .product-details
                .price
                  h6 $1500.00
                  h6.l-through $2000.00
                h4
                  | Converse ABCD
                .add-bag.d-flex.align-items-center.justify-content-center
                  a.add-btn(href='')
                    span.ti-bag
                  span.add-text.text-uppercase Thêm vào giỏ hàng
            // single exclusive carousel
            .single-exclusive-slider
              img.img-fluid(src='img/product/e-p1.png', alt='')
              .product-details
                .price
                  h6 $900.00
                  h6.l-through $1100.00
                h4
                  | Converse 9999
                .add-bag.d-flex.align-items-center.justify-content-center
                  a.add-btn(href='')
                    span.ti-bag
                  span.add-text.text-uppercase Thêm vào giỏ hàng
  // End Exclusive Deal Area
  // Start Brand Area
  section.brand-area.section_gap
    .container
      .row
        a.col.single-img(href='#')
          img.img-fluid.d-block.mx-auto(src='img/brand/1.png', alt='')
        a.col.single-img(href='#')
          img.img-fluid.d-block.mx-auto(src='img/brand/2.png', alt='')
        a.col.single-img(href='#')
          img.img-fluid.d-block.mx-auto(src='img/brand/3.png', alt='')
        a.col.single-img(href='#')
          img.img-fluid.d-block.mx-auto(src='img/brand/4.png', alt='')
        a.col.single-img(href='#')
          img.img-fluid.d-block.mx-auto(src='img/brand/5.png', alt='')
  // End Brand Area
  // Start Related-product Area
  section.related-product-area.section_gap_bottom
    .container
      .row.justify-content-center
        .col-lg-6.text-center
          .section-title
            h1 Ưu đãi trong tuần
            p
              | Tuần mua sắm
      .row
        .col-lg-9
          .row
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r1.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót
                  .price
                    h6 $189.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r2.jpg', alt='')
                .desc
                  a.title(href='#') Áo thun nam
                  .price
                    h6 $100.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r3.jpg', alt='')
                .desc
                  a.title(href='#') Đầm đen
                  .price
                    h6 $120.00
                    h6.l-through $150.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r5.jpg', alt='')
                .desc
                  a.title(href='#') Đầm xanh
                  .price
                    h6 $150.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r6.jpg', alt='')
                .desc
                  a.title(href='#') Giày sandas
                  .price
                    h6 $199.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6.mb-20
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r7.jpg', alt='')
                .desc
                  a.title(href='#') Áo sọc
                  .price
                    h6 $179.00
                    h6.l-through $210.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r9.jpg', alt='')
                .desc
                  a.title(href='#') Áo tay dài
                  .price
                    h6 $300.00
                    h6.l-through $410.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r10.jpg', alt='')
                .desc
                  a.title(href='#') Áo bó đen
                  .price
                    h6 $90.00
                    h6.l-through $100.00
            .col-lg-4.col-md-4.col-sm-6
              .single-related-product.d-flex
                a(href='#')
                  img(src='img/r11.jpg', alt='')
                .desc
                  a.title(href='#') Giày cao gót vàng
                  .price
                    h6 $122.00
                    h6.l-through $200.00
        .col-lg-3
          .ctg-right
            a(href='#', target='_blank')
              img.img-fluid.d-block.mx-auto(src='img/category/c5.jpg', alt='')
  // End Related-product Area