extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Chi tiết blog
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='#') Chi tiết blog
  // End Banner Area
  // Start Blog Area
  section.blog_area.single-post-area.section_gap
    .container
      .row
        .col-lg-8.posts-list
          .single-post.row
            .col-lg-12
              .feature-img
                img.img-fluid(src='img/blog/feature-img1.jpg', alt='')
            .col-lg-3.col-md-3
              .blog_info.text-right
                .post_tag
                  a(href='#') Food, 
                  a.active(href='#') Technology, 
                  a(href='#') Politics, 
                  a(href='#') Lifestyle
                ul.blog_meta.list
                  li
                    a(href='#')
                      | Đánh dấu
                      i.lnr.lnr-user
                  li
                    a(href='#')
                      | 12 Dec, 2018
                      i.lnr.lnr-calendar-full
                  li
                    a(href='#')
                      | 1.2M Lượt xem
                      i.lnr.lnr-eye
                  li
                    a(href='#')
                      | 06 Bình luận
                      i.lnr.lnr-bubble
                ul.social-links
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-github
                  li
                    a(href='#')
                      i.fa.fa-behance
            .col-lg-9.col-md-9.blog_details
              h2 Astronomy Binoculars A Great Alternative
              p.excert
                | MCSE boot camps have its supporters and its detractors. Some people do not understand
                | why you should have to spend money on boot camp when you can get the MCSE study
                | materials yourself at a fraction.
              p
                | Boot camps have its supporters and its detractors. Some people do not understand why
                | you should have to spend money on boot camp when you can get the MCSE study materials
                | yourself at a fraction of the camp price. However, who has the willpower to actually
                | sit through a self-imposed MCSE training. who has the willpower to actually sit through
                | a self-imposed
              p
                | Boot camps have its supporters and its detractors. Some people do not understand why
                | you should have to spend money on boot camp when you can get the MCSE study materials
                | yourself at a fraction of the camp price. However, who has the willpower to actually
                | sit through a self-imposed MCSE training. who has the willpower to actually sit through
                | a self-imposed
            .col-lg-12
              .quotes
                | MCSE boot camps have its supporters and its detractors. Some people do not understand
                | why you should have to spend money on boot camp when you can get the MCSE study
                | materials yourself at a fraction of the camp price. However, who has the willpower to
                | actually sit through a self-imposed MCSE training.
              .row
                .col-6
                  img.img-fluid(src='img/blog/post-img1.jpg', alt='')
                .col-6
                  img.img-fluid(src='img/blog/post-img2.jpg', alt='')
                .col-lg-12.mt-25
                  p
                    | MCSE boot camps have its supporters and its detractors. Some people do not
                    | understand why you should have to spend money on boot camp when you can get the
                    | MCSE study materials yourself at a fraction of the camp price. However, who has
                    | the willpower.
                  p
                    | MCSE boot camps have its supporters and its detractors. Some people do not
                    | understand why you should have to spend money on boot camp when you can get the
                    | MCSE study materials yourself at a fraction of the camp price. However, who has
                    | the willpower.
          .navigation-area
            .row
              .col-lg-6.col-md-6.col-12.nav-left.flex-row.d-flex.justify-content-start.align-items-center
                .thumb
                  a(href='#')
                    img.img-fluid(src='img/blog/prev.jpg', alt='')
                .arrow
                  a(href='#')
                    span.lnr.text-white.lnr-arrow-left
                .detials
                  p Bài viết trước
                  a(href='#')
                    h4 Space The Final Frontier
              .col-lg-6.col-md-6.col-12.nav-right.flex-row.d-flex.justify-content-end.align-items-center
                .detials
                  p Bài viết sau
                  a(href='#')
                    h4 Telescopes 101
                .arrow
                  a(href='#')
                    span.lnr.text-white.lnr-arrow-right
                .thumb
                  a(href='#')
                    img.img-fluid(src='img/blog/next.jpg', alt='')
          .comments-area
            h4 05 Bình luận
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='img/blog/c1.jpg', alt='')
                  .desc
                    h5
                      a(href='#') Emilly Blunt
                    p.date December 4, 2018 at 3:12 pm 
                    p.comment
                      | Never say goodbye till the end comes!
                .reply-btn
                  a.btn-reply.text-uppercase(href='') Trả lời
            .comment-list.left-padding
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='img/blog/c2.jpg', alt='')
                  .desc
                    h5
                      a(href='#') Elsie Cunningham
                    p.date December 4, 2018 at 3:12 pm 
                    p.comment
                      | Never say goodbye till the end comes!
                .reply-btn
                  a.btn-reply.text-uppercase(href='') Trả lời
            .comment-list.left-padding
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='img/blog/c3.jpg', alt='')
                  .desc
                    h5
                      a(href='#') Annie Stephens
                    p.date December 4, 2018 at 3:12 pm 
                    p.comment
                      | Never say goodbye till the end comes!
                .reply-btn
                  a.btn-reply.text-uppercase(href='') Trả lời
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='img/blog/c4.jpg', alt='')
                  .desc
                    h5
                      a(href='#') Maria Luna
                    p.date December 4, 2018 at 3:12 pm 
                    p.comment
                      | Never say goodbye till the end comes!
                .reply-btn
                  a.btn-reply.text-uppercase(href='') Trả lời
            .comment-list
              .single-comment.justify-content-between.d-flex
                .user.justify-content-between.d-flex
                  .thumb
                    img(src='img/blog/c5.jpg', alt='')
                  .desc
                    h5
                      a(href='#') Ina Hayes
                    p.date December 4, 2018 at 3:12 pm 
                    p.comment
                      | Never say goodbye till the end comes!
                .reply-btn
                  a.btn-reply.text-uppercase(href='') Trả lời
          .comment-form
            h4 Để lại một bình luận
            form
              .form-group.form-inline
                .form-group.col-lg-6.col-md-6.name
                  input#name.form-control(type='text', placeholder='Họ tên', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Name'")
                .form-group.col-lg-6.col-md-6.email
                  input#email.form-control(type='email', placeholder='Địa chỉ email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'")
              .form-group
                input#subject.form-control(type='text', placeholder='Tiêu đề', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Subject'")
              .form-group
                textarea.form-control.mb-10(rows='5', name='message', placeholder='Nội dung', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Messege'", required='')
              a.primary-btn.submit_btn(href='#') Gửi
        .col-lg-4
          .blog_right_sidebar
            aside.single_sidebar_widget.search_widget
              .input-group
                input.form-control(type='text', placeholder='Tìm bài viết', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Search Posts'")
                span.input-group-btn
                  button.btn.btn-default(type='button')
                    i.lnr.lnr-magnifier
              // /input-group
              .br
            aside.single_sidebar_widget.author_widget
              img.author_img.rounded-circle(src='img/blog/author.png', alt='')
              h4 Vương Hữu Toàn
              p Người viết blog
              .social_icon
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-github
                a(href='#')
                  i.fa.fa-behance
              p
                | Đồ án giữa kỳ khó quá đi
              .br
            aside.single_sidebar_widget.popular_post_widget
              h3.widget_title Bài viết phổ biến
              .media.post_item
                img(src='img/blog/popular-post/post1.jpg', alt='post')
                .media-body
                  a(href='blog-details.html')
                    h3 Space The Final Frontier
                  p 02 giờ trước
              .media.post_item
                img(src='img/blog/popular-post/post2.jpg', alt='post')
                .media-body
                  a(href='blog-details.html')
                    h3 The Amazing Hubble
                  p 02 giờ trước
              .media.post_item
                img(src='img/blog/popular-post/post3.jpg', alt='post')
                .media-body
                  a(href='blog-details.html')
                    h3 Astronomy Or Astrology
                  p 03 giờ trước
              .media.post_item
                img(src='img/blog/popular-post/post4.jpg', alt='post')
                .media-body
                  a(href='blog-details.html')
                    h3 Asteroids telescope
                  p 01 giờ trước
              .br
            aside.single_sidebar_widget.ads_widget
              a(href='#')
                img.img-fluid(src='img/blog/add.jpg', alt='')
              .br
            aside.single_sidebar_widget.post_category_widget
              h4.widget_title Thể loại bài viết
              ul.list.cat-list
                li
                  a.d-flex.justify-content-between(href='#')
                    p Công nghệ
                    p 37
                li
                  a.d-flex.justify-content-between(href='#')
                    p Đời sống
                    p 24
                li
                  a.d-flex.justify-content-between(href='#')
                    p Thời trang
                    p 59
                li
                  a.d-flex.justify-content-between(href='#')
                    p Nghệ thuật
                    p 29
                li
                  a.d-flex.justify-content-between(href='#')
                    p Thức ăn
                    p 15
                li
                  a.d-flex.justify-content-between(href='#')
                    p Kỹ thuật
                    p 09
                li
                  a.d-flex.justify-content-between(href='#')
                    p Khám phá
                    p 44
              .br
            aside.single-sidebar-widget.newsletter_widget
              h4.widget_title Bản tin
              p
                | Luôn cập nhật với bản mới nhất của chúng tôi
              .form-group.d-flex.flex-row
                .input-group
                  .input-group-prepend
                    .input-group-text
                      i.fa.fa-envelope(aria-hidden='true')
                  input#inlineFormInputGroup.form-control(type='text', placeholder='Nhập email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'")
                a.bbtns(href='#') Đăngký
              p.text-bottom Bạn có thể huỷ đăng ký bất cứ lúc nào
              .br
            aside.single-sidebar-widget.tag_cloud_widget
              h4.widget_title Các thẻ
              ul.list
                li
                  a(href='#') Công nghệ
                li
                  a(href='#') Thời trang
                li
                  a(href='#') Kỹ thuật
                li
                  a(href='#') Quần áo
                li
                  a(href='#') Thức ăn
                li
                  a(href='#') Máy tính
                li
                  a(href='#') Đời sống
                li
                  a(href='#') Nghệ thuật
                li
                  a(href='#') Khám phá
                li
                  a(href='#') Du lịch
                li
                  a(href='#') Văn hoá
                li
                  a(href='#') Lịch sử
  // End Blog Area