extends layout

block content
  // Start Banner Area
  section.banner-area.organic-breadcrumb
    .container
      .breadcrumb-banner.d-flex.flex-wrap.align-items-center.justify-content-end
        .col-first
          h1 Trang theo dõi đơn hàng
          nav.d-flex.align-items-center
            a(href='index.html')
              | Trang chủ
              span.lnr.lnr-arrow-right
            a(href='') Theo dõi đơn hàng
  // End Banner Area
  // Start Tracking Box Area
  section.tracking_box_area.section_gap
    .container
      .tracking_box_inner
        p
          | Để theo dõi đơn hàng của bạn, vui lòng nhập ID đơn hàng của bạn vào ô bên dưới và nhấn nút &quot;Theo dõi&quot;. Mọi tình trạng đơn hàng của bạn sẽ được gửi qua mail đơn hàng mà bạn nhập.
        form.row.tracking_form(action='#', method='post', novalidate='novalidate')
          .col-md-12.form-group
            input#order.form-control(type='text', name='order', placeholder='ID đơn hàng', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Order ID'")
          .col-md-12.form-group
            input#email.form-control(type='email', name='email', placeholder='Địa chỉ email đơn hàng', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Billing Email Address'")
          .col-md-12.form-group
            button.primary-btn(type='submit', value='submit') Theo dõi đơn hàng
  // End Tracking Box Area